extends ../layout.pug

block content
    br
    if error
        .alert.alert-danger #{error}
    form(method='get').container.row
            .col-6
                input#floatingSearch.form-control(type='search' placeholder="titre, auteur, compositeur..." name= 'search' value= search)
            .col-6
                button.btn.btn-success(type='submit') Recherche
    hr
    if musics
            each music in musics
                if music.cover
                    .card(style='width: 20rem; margin-left: 2rem;') 
                        img.card-img-top(src=`${music.cover}` alt='...')
                        h5.card-title #{music.title}
                        audio(controls src=`${music.preview}`)
                        if app.user && app.user.roles && app.user.roles.includes('admin')
                            form(method='post')
                                input(type="hidden" name="id_rapi" value=music.id_rapi)
                                input(type="hidden" name="title" value=music.title)
                                input(type="hidden" name="cover" value=music.cover)
                                input(type="hidden" name="preview" value=music.preview)
                                if music.exist == false
                                    button.mt-2.mb-2.btn.btn-primary Enregistrer
                                else
                                    button.btn.btn-light.btn-sm.me-2(type='button')
                                        a#i-star(href="/playlist/"+ music.id_rapi)
                                            i.bi.bi-star
                    br