extends ../layout.pug

block content
    .container.mt-5
        .row.justify-content-center
            .col-md-6
                if error
                    .alert.alert-danger #{error}
                form(method="post")
                    .form-group
                        input#newPlaylist.form-control.mb-2(type='text', name="name", placeholder='Nom de la playlist')
                    .form-group
                       select#choicePlaylist.form-control.mb-2(name="name2")
                            option(value="")
                            if playlists 
                                each playlist in playlists 
                                    option(value=playlist.name) #{playlist.name}
                    if music
                        .card(style='width: 35rem; margin-left: 2rem;') 
                            img.card-img-top(src=`${music.cover}` alt='...')
                            h5.card-title #{music.title}
                            audio(controls src=`${music.preview}`)
                    button.mt-2.mb-2.btn.btn-primary(type='submit') Enregistrer dans la playlist 